In [1]:
import pandas as pd

In [4]:
file = pd.read_excel("data/fpl_data/cumulative_df.xlsx")

In [5]:
file

,name,team,position,goals_scored,assists,ict_index,goals_conceded,minutes,own_goals,total_points,bps,bonus,clean_sheets,GW,kickoff_time,season
0,Aaron Connolly,Brighton,FWD,0,0,0.0,0,0,0,1,0,0,0,1,2020-09-14T19:15:00Z,2020/21
1,Aaron Cresswell,West Ham,DEF,0,0,0.0,0,0,0,1,0,0,0,1,2020-09-12T19:00:00Z,2020/21
2,Aaron Mooy,Brighton,MID,0,0,0.0,0,0,0,0,0,0,0,1,2020-09-14T19:15:00Z,2020/21
3,Aaron Ramsdale,Sheffield Utd,GK,0,0,0.0,0,0,0,1,0,0,0,1,2020-09-14T17:00:00Z,2020/21
4,Abdoulaye Doucouré,Everton,MID,0,0,0.0,0,0,0,3,0,0,0,1,2020-09-13T15:30:00Z,2020/21
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
93194,Kyle Walker,Man City,DEF,0,2,70.0,23,1777,0,67,372,6,5,23,2024-02-05T20:00:00Z,2023/24
93195,Jacob Brown,Luton,FWD,2,1,48.0,26,1002,0,39,114,3,1,23,2024-02-03T15:00:00Z,2023/24
93196,Vicente Guaita,Crystal Palace,GK,0,0,0.0,0,0,0,0,0,0,0,23,2024-02-03T15:00:00Z,2023/24
93197,Braian Ojeda Rodríguez,Nott'm Forest,MID,0,0,0.0,0,0,0,0,0,0,0,23,2024-02-04T14:00:00Z,2023/24
93198,Mads Bech Sørensen,Brentford,DEF,0,0,0.0,0,0,0,0,0,0,0,23,2024-02-05T20:00:00Z,2023/24

In [6]:
file.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 93199 entries, 0 to 93198
Data columns (total 16 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   name            93199 non-null  object
 1   team            93199 non-null  object
 2   position        93199 non-null  object
 3   goals_scored    93199 non-null  int64
 4   assists         93199 non-null  int64
 5   ict_index       93199 non-null  float64
 6   goals_conceded  93199 non-null  int64
 7   minutes         93199 non-null  int64
 8   own_goals       93199 non-null  int64
 9   total_points    93199 non-null  int64
 10  bps             93199 non-null  int64
 11  bonus           93199 non-null  int64
 12  clean_sheets    93199 non-null  int64
 13  GW              93199 non-null  int64
 14  kickoff_time    93199 non-null  object
 15  season          93199 non-null  object
dtypes: float64(1), int64(10), object(5)
memory usage: 11.4+ MB

In [17]:
file2022_23 = file[file["season"] == "2022/23"].reset_index(drop=True)
file2022_23["date"] = pd.to_datetime(file2022_23["kickoff_time"]).dt.date

In [18]:
file2022_23.index = file2022_23["date"]

In [19]:
file2022_23 = file2022_23.sort_index()

In [20]:
def date_update(df):
    return df.resample("D").ffill().reset_index()

In [23]:
file2022_23

,name,team,position,goals_scored,assists,ict_index,goals_conceded,minutes,own_goals,total_points,bps,bonus,clean_sheets,GW,kickoff_time,season,date
date,,,,,,,,,,,,,,,,,
2022-08-05,Fábio Ferreira Vieira,Arsenal,MID,0,0,0.0,0,0,0,0,0,0,0,1,2022-08-05T19:00:00Z,2022/23,2022-08-05
2022-08-05,Remi Matthews,Crystal Palace,GK,0,0,0.0,0,0,0,0,0,0,0,1,2022-08-05T19:00:00Z,2022/23,2022-08-05
2022-08-05,Gabriel Martinelli Silva,Arsenal,MID,0,0,0.0,0,0,0,8,0,0,0,1,2022-08-05T19:00:00Z,2022/23,2022-08-05
2022-08-05,Jean-Philippe Mateta,Crystal Palace,FWD,0,0,0.0,0,0,0,1,0,0,0,1,2022-08-05T19:00:00Z,2022/23,2022-08-05
2022-08-05,Marc Guéhi,Crystal Palace,DEF,0,0,0.0,0,0,0,-1,0,0,0,1,2022-08-05T19:00:00Z,2022/23,2022-08-05
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2023-05-28,Mathias Jorgensen,Brentford,DEF,0,1,25.6,15,1007,1,45,167,3,3,38,2023-05-28T15:30:00Z,2022/23,2023-05-28
2023-05-28,André Tavares Gomes,Everton,MID,0,0,0.0,0,0,0,0,0,0,0,38,2023-05-28T15:30:00Z,2022/23,2023-05-28
2023-05-28,Lyanco Silveira Neves Vojnovic,Southampton,DEF,1,0,41.8,22,1083,0,29,183,0,0,38,2023-05-28T15:30:00Z,2022/23,2023-05-28
2023-05-28,Mateusz Lis,Southampton,GK,0,0,0.0,0,0,0,0,0,0,0,38,2023-05-28T15:30:00Z,2022/23,2023-05-28
2023-05-28,Philip Billing,Bournemouth,MID,7,2,141.0,53,2676,0,126,460,14,9,38,2023-05-28T15:30:00Z,2022/23,2023-05-28

In [24]:
date_range = pd.date_range(start=file2022_23.index.min(), end = file2022_23.index.max())

In [28]:
file2022_23["name_team"] = file2022_23["name"] + "_" + file2022_23["team"]

In [51]:
df = pd.DataFrame()

In [52]:
for combo in list(file2022_23["name_team"].unique()):
    new_data = file2022_23[file2022_23["name_team"] == combo]
    post = new_data["position"].unique()[0]
    name, team = combo.split("_")[0], combo.split("_")[1]
    new_data_reindexed = new_data.reindex(date_range)
    new_data_reindexed["name"] = name
    new_data_reindexed["team"] = team
    new_data_reindexed["position"] = post
    new_data_reindexed["date"] = new_data_reindexed.index
    new_data_reindexed = new_data_reindexed.ffill(axis=0)
    new_data_reindexed = new_data_reindexed.dropna()
    new_data_reindexed = new_data_reindexed.reset_index(drop=True)
    df = pd.concat([df, new_data_reindexed], axis = 0).reset_index(drop=True)

In [53]:
df

,name,team,position,goals_scored,assists,ict_index,goals_conceded,minutes,own_goals,total_points,bps,bonus,clean_sheets,GW,kickoff_time,season,date,name_team
0,Fábio Ferreira Vieira,Arsenal,MID,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,2022-08-05T19:00:00Z,2022/23,2022-08-05,Fábio Ferreira Vieira_Arsenal
1,Fábio Ferreira Vieira,Arsenal,MID,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,2022-08-05T19:00:00Z,2022/23,2022-08-06,Fábio Ferreira Vieira_Arsenal
2,Fábio Ferreira Vieira,Arsenal,MID,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,2022-08-05T19:00:00Z,2022/23,2022-08-07,Fábio Ferreira Vieira_Arsenal
3,Fábio Ferreira Vieira,Arsenal,MID,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,2022-08-05T19:00:00Z,2022/23,2022-08-08,Fábio Ferreira Vieira_Arsenal
4,Fábio Ferreira Vieira,Arsenal,MID,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,2022-08-05T19:00:00Z,2022/23,2022-08-09,Fábio Ferreira Vieira_Arsenal
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
209742,Shea Charles,Man City,MID,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,37.0,2023-05-24T19:00:00Z,2022/23,2023-05-27,Shea Charles_Man City
209743,Shea Charles,Man City,MID,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,38.0,2023-05-28T15:30:00Z,2022/23,2023-05-28,Shea Charles_Man City
209744,Samuel Amo-Ameyaw,Southampton,MID,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,38.0,2023-05-28T15:30:00Z,2022/23,2023-05-28,Samuel Amo-Ameyaw_Southampton
209745,Yago de Santiago Alonso,Spurs,MID,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,38.0,2023-05-28T15:30:00Z,2022/23,2023-05-28,Yago de Santiago Alonso_Spurs
209746,Mark Gillespie,Newcastle,GK,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,38.0,2023-05-28T15:30:00Z,2022/23,2023-05-28,Mark Gillespie_Newcastle

In [54]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 209747 entries, 0 to 209746
Data columns (total 18 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   name            209747 non-null  object
 1   team            209747 non-null  object
 2   position        209747 non-null  object
 3   goals_scored    209747 non-null  float64
 4   assists         209747 non-null  float64
 5   ict_index       209747 non-null  float64
 6   goals_conceded  209747 non-null  float64
 7   minutes         209747 non-null  float64
 8   own_goals       209747 non-null  float64
 9   total_points    209747 non-null  float64
 10  bps             209747 non-null  float64
 11  bonus           209747 non-null  float64
 12  clean_sheets    209747 non-null  float64
 13  GW              209747 non-null  float64
 14  kickoff_time    209747 non-null  object
 15  season          209747 non-null  object
 16  date            209747 non-null  datetime64[ns]
 17  name_team       209747 non-null  object
dtypes: datetime64[ns](1), float64(11), object(6)
memory usage: 28.8+ MB

In [55]:
def reindex(year):
    file_new = file[file["season"] == year].reset_index(drop=True)
    file_new["date"] = pd.to_datetime(file_new["kickoff_time"]).dt.date
    file_new.index = file_new["date"]
    file_new = file_new.sort_index()
    date_range = pd.date_range(start=file_new.index.min(), end = file_new.index.max())
    file_new["name_team"] = file_new["name"] + "_" + file_new["team"]
    df = pd.DataFrame()
    for combo in list(file_new["name_team"].unique()):
        new_data = file_new[file_new["name_team"] == combo]
        post = new_data["position"].unique()[0]
        name, team = combo.split("_")[0], combo.split("_")[1]
        new_data_reindexed = new_data.reindex(date_range)
        new_data_reindexed["name"] = name
        new_data_reindexed["team"] = team
        new_data_reindexed["position"] = post
        new_data_reindexed["date"] = new_data_reindexed.index
        new_data_reindexed = new_data_reindexed.ffill(axis=0)
        new_data_reindexed = new_data_reindexed.dropna()
        new_data_reindexed = new_data_reindexed.reset_index(drop=True)
        df = pd.concat([df, new_data_reindexed], axis = 0).reset_index(drop=True)
    return df

In [56]:
file2022_23 = reindex("2022/23")

In [57]:
file2021_22 = reindex("2021/22")

In [58]:
file2023_24 = reindex("2023/24")

In [59]:
combo = pd.concat([file2021_22, file2022_23, file2023_24], axis = 0).reset_index(drop=True)

In [61]:
combo = combo[["name", "team", "position", "date", "season", "total_points", "GW"]]

In [63]:
combo.to_excel("cumulative_df_use.xlsx", index=False)