In [1]:
import pandas as pd
import os
import janitor
import warnings
warnings.filterwarnings('ignore')
import seaborn as sns; sns.set_style("darkgrid")
%matplotlib inline
import matplotlib.pyplot as plt

## Does the team with the highest FPL points win the premier league?

In [2]:
new_df = pd.read_excel("../data/fpl_data/full_df.xlsx")

In [3]:
new_df

,name,position,team,xP,assists,bonus,bps,clean_sheets,creativity,element,...,value,was_home,yellow_cards,GW,expected_assists,expected_goal_involvements,expected_goals,expected_goals_conceded,starts,season
0,Aaron Connolly,FWD,Brighton,0.5,0,0,-3,0,0.3,78,...,55,True,0,1,0.00,0.00,0.00,0.00,0,2020/21
1,Aaron Cresswell,DEF,West Ham,2.1,0,0,11,0,11.2,435,...,50,True,0,1,0.00,0.00,0.00,0.00,0,2020/21
2,Aaron Mooy,MID,Brighton,0.0,0,0,0,0,0.0,60,...,50,True,0,1,0.00,0.00,0.00,0.00,0,2020/21
3,Aaron Ramsdale,GK,Sheffield Utd,2.5,0,0,12,0,0.0,483,...,50,True,0,1,0.00,0.00,0.00,0.00,0,2020/21
4,Abdoulaye Doucouré,MID,Everton,1.3,0,0,20,1,44.6,512,...,55,False,0,1,0.00,0.00,0.00,0.00,0,2020/21
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
93194,Kyle Walker,DEF,Man City,3.7,0,0,16,0,36.5,369,...,55,False,0,23,0.12,0.14,0.02,1.02,1,2023/24
93195,Jacob Brown,FWD,Luton,-0.7,0,0,1,0,0.5,631,...,49,False,0,23,0.00,0.05,0.05,0.19,0,2023/24
93196,Vicente Guaita,GK,Crystal Palace,0.0,0,0,0,0,0.0,227,...,44,False,0,23,0.00,0.00,0.00,0.00,0,2023/24
93197,Braian Ojeda Rodríguez,MID,Nott'm Forest,0.0,0,0,0,0,0.0,459,...,45,False,0,23,0.00,0.00,0.00,0.00,0,2023/24
93198,Mads Bech Sørensen,DEF,Brentford,0.0,0,0,0,0,0.0,93,...,40,True,0,23,0.00,0.00,0.00,0.00,0,2023/24

In [4]:
df_2020_21 = new_df[new_df["season"] == "2020/21"]
df_2021_22 = new_df[new_df["season"] == "2021/22"]
df_2022_23 = new_df[new_df["season"] == "2022/23"]
df_2023_24 = new_df[new_df["season"] == "2023/24"]

In [5]:
df_2020_21.info()

<class 'pandas.core.frame.DataFrame'>
Index: 24365 entries, 0 to 24364
Data columns (total 42 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   name                        24365 non-null  object
 1   position                    24365 non-null  object
 2   team                        24365 non-null  object
 3   xP                          24365 non-null  float64
 4   assists                     24365 non-null  int64
 5   bonus                       24365 non-null  int64
 6   bps                         24365 non-null  int64
 7   clean_sheets                24365 non-null  int64
 8   creativity                  24365 non-null  float64
 9   element                     24365 non-null  int64
 10  fixture                     24365 non-null  int64
 11  goals_conceded              24365 non-null  int64
 12  goals_scored                24365 non-null  int64
 13  ict_index                   24365 non-null  float64
 14  influence                   24365 non-null  float64
 15  kickoff_time                24365 non-null  object
 16  minutes                     24365 non-null  int64
 17  opponent_team               24365 non-null  int64
 18  own_goals                   24365 non-null  int64
 19  penalties_missed            24365 non-null  int64
 20  penalties_saved             24365 non-null  int64
 21  red_cards                   24365 non-null  int64
 22  round                       24365 non-null  int64
 23  saves                       24365 non-null  int64
 24  selected                    24365 non-null  int64
 25  team_a_score                24365 non-null  int64
 26  team_h_score                24365 non-null  int64
 27  threat                      24365 non-null  int64
 28  total_points                24365 non-null  int64
 29  transfers_balance           24365 non-null  int64
 30  transfers_in                24365 non-null  int64
 31  transfers_out               24365 non-null  int64
 32  value                       24365 non-null  int64
 33  was_home                    24365 non-null  bool
 34  yellow_cards                24365 non-null  int64
 35  GW                          24365 non-null  int64
 36  expected_assists            24365 non-null  float64
 37  expected_goal_involvements  24365 non-null  float64
 38  expected_goals              24365 non-null  float64
 39  expected_goals_conceded     24365 non-null  float64
 40  starts                      24365 non-null  int64
 41  season                      24365 non-null  object
dtypes: bool(1), float64(8), int64(28), object(5)
memory usage: 7.8+ MB

In [6]:
import pandas as pd
import numpy as np

def accumulated(df):
    # Add a column 'n' with all values set to 1
    df['n'] = 1
    
    # Group by 'name' and 'team'
    grouped = df.groupby(['name', 'team'])
    
    # Define the columns to apply the cumulative sum and then subtract the original value
    cols_to_accumulate = ['goals_scored', 'assists', 'ict_index', 'goals_conceded', 'minutes', 'own_goals', 'bps', 'clean_sheets', 'bonus']
    
    # Apply the cumulative sum and subtraction
    for col in cols_to_accumulate:
        df[col + '_cum'] = grouped[col].cumsum() - df[col]
    
    # For 'total_points', just the cumulative sum is needed
    df['total_points_cum'] = grouped['total_points'].cumsum()
    
    # Select the desired columns
    df = df[['name', 'team', 'position', 'goals_scored_cum', 'assists_cum', 'ict_index_cum', 'goals_conceded_cum', 'minutes_cum', 'own_goals_cum', 'total_points_cum', 'bps_cum', 'bonus_cum', 'clean_sheets_cum', 'GW', 'kickoff_time']]
    
    # Filter rows where 'ict_index_cum' > 0
    df = df[df['ict_index_cum'] > 0]
    
    # Drop the temporary 'n' column
    #df.drop(columns=['n'], inplace=True)
    
    # Rename the accumulated columns back to their original names for clarity
    df.rename(columns={col + '_cum': col for col in cols_to_accumulate}, inplace=True)
    df.rename(columns={'total_points_cum': 'total_points'}, inplace=True)
    
    return df

In [7]:
df_2020_21c = accumulated(df_2020_21).reset_index(drop=True)

In [8]:
df_2020_21c[df_2020_21c["GW"]==38].groupby("team", as_index=False)["total_points"].sum()

              team  total_points
0          Arsenal          1644
1      Aston Villa          1703
2         Brighton          1459
3          Burnley          1375
4          Chelsea          1880
5   Crystal Palace          1378
6          Everton          1584
7           Fulham          1282
8            Leeds          1691
9        Leicester          1679
10       Liverpool          1761
11        Man City          2124
12         Man Utd          1812
13       Newcastle          1372
14   Sheffield Utd          1055
15     Southampton          1443
16           Spurs          1759
17       West Brom          1225
18        West Ham          1686
19          Wolves          1442

In [9]:
def fpl_rankings(df):
    dfc = accumulated(df).reset_index(drop=True)
    dfc = dfc[dfc["GW"]==38].groupby("team", as_index=False)["total_points"].sum().sort_values("total_points", ascending=False).reset_index(drop=True)
    return dfc

In [10]:
fpl_rankings(df_2020_21)

              team  total_points
0         Man City          2124
1          Chelsea          1880
2          Man Utd          1812
3        Liverpool          1761
4            Spurs          1759
5      Aston Villa          1703
6            Leeds          1691
7         West Ham          1686
8        Leicester          1679
9          Arsenal          1644
10         Everton          1584
11        Brighton          1459
12     Southampton          1443
13          Wolves          1442
14  Crystal Palace          1378
15         Burnley          1375
16       Newcastle          1372
17          Fulham          1282
18       West Brom          1225
19   Sheffield Utd          1055

In [11]:
fpl_rankings(df_2021_22)

              team  total_points
0        Liverpool          2306
1         Man City          2260
2          Chelsea          2017
3            Spurs          1874
4          Arsenal          1690
5         West Ham          1610
6   Crystal Palace          1609
7        Leicester          1567
8           Wolves          1535
9          Man Utd          1515
10     Aston Villa          1485
11        Brighton          1472
12       Brentford          1466
13       Newcastle          1372
14     Southampton          1353
15         Everton          1315
16         Burnley          1283
17           Leeds          1187
18         Watford          1127
19         Norwich          1111

In [12]:
fpl_rankings(df_2022_23)

              team  total_points
0         Man City          2050
1          Arsenal          2023
2        Newcastle          1877
3        Liverpool          1852
4          Man Utd          1836
5        Brentford          1730
6         Brighton          1686
7            Spurs          1680
8      Aston Villa          1574
9           Fulham          1550
10        West Ham          1453
11  Crystal Palace          1425
12         Chelsea          1423
13       Leicester          1409
14          Wolves          1365
15   Nott'm Forest          1339
16     Bournemouth          1326
17         Everton          1308
18           Leeds          1269
19     Southampton          1216

In [13]:
df_2023_24[df_2023_24["name"] == "Mohamed Salah"]

,name,position,team,xP,assists,bonus,bps,clean_sheets,creativity,element,...,value,was_home,yellow_cards,GW,expected_assists,expected_goal_involvements,expected_goals,expected_goals_conceded,starts,season
76868,Mohamed Salah,MID,Liverpool,4.5,1,0,15,0,20.2,308,...,125,False,0,1,0.31,0.59,0.28,1.28,1,2023/24
77475,Mohamed Salah,MID,Liverpool,5.5,0,0,15,0,33.0,308,...,125,True,0,2,0.11,1.34,1.23,1.00,1,2023/24
78142,Mohamed Salah,MID,Liverpool,5.0,1,0,19,0,24.9,308,...,125,False,0,3,0.12,0.30,0.18,2.00,1,2023/24
78842,Mohamed Salah,MID,Liverpool,6.3,0,0,26,1,23.1,308,...,125,True,0,4,0.07,0.87,0.80,0.66,1,2023/24
79556,Mohamed Salah,MID,Liverpool,8.2,2,2,35,0,57.4,308,...,125,False,0,5,1.47,1.71,0.24,0.63,1,2023/24
80274,Mohamed Salah,MID,Liverpool,8.7,0,3,36,0,28.8,308,...,125,True,0,6,0.27,1.28,1.01,1.11,1,2023/24
81063,Mohamed Salah,MID,Liverpool,7.5,0,0,3,0,27.8,308,...,125,False,1,7,0.39,0.44,0.05,1.44,1,2023/24
81803,Mohamed Salah,MID,Liverpool,9.2,0,3,43,0,13.7,308,...,126,False,0,8,0.07,1.52,1.45,2.30,1,2023/24
82532,Mohamed Salah,MID,Liverpool,11.2,0,3,40,1,34.1,308,...,127,True,0,9,0.05,1.44,1.39,0.13,1,2023/24
83263,Mohamed Salah,MID,Liverpool,13.5,0,0,19,1,32.3,308,...,128,True,0,10,0.13,0.71,0.58,0.45,1,2023/24
83996,Mohamed Salah,MID,Liverpool,9.7,0,0,8,0,38.7,308,...,129,False,0,11,0.09,0.68,0.59,0.81,1,2023/24
84738,Mohamed Salah,MID,Liverpool,9.2,0,3,43,1,23.3,308,...,129,True,0,12,0.21,1.15,0.94,1.57,1,2023/24
85485,Mohamed Salah,MID,Liverpool,7.2,1,0,21,0,39.5,308,...,130,False,0,13,0.21,0.21,0.00,1.35,1,2023/24
86238,Mohamed Salah,MID,Liverpool,7.5,1,0,18,0,53.8,308,...,131,True,0,14,0.26,1.03,0.77,1.22,1,2023/24
86993,Mohamed Salah,MID,Liverpool,8.2,0,0,2,1,16.3,308,...,131,False,0,15,0.08,0.44,0.36,0.25,1,2023/24
87751,Mohamed Salah,MID,Liverpool,8.9,1,3,36,0,15.3,308,...,131,False,0,16,0.18,0.51,0.33,1.74,1,2023/24
88452,Mohamed Salah,MID,Liverpool,5.8,0,0,8,1,57.3,308,...,132,True,0,17,0.33,0.75,0.42,0.63,1,2023/24
89146,Mohamed Salah,MID,Liverpool,6.0,0,1,23,0,24.7,308,...,132,True,1,18,0.13,0.35,0.22,0.80,1,2023/24
89907,Mohamed Salah,MID,Liverpool,6.7,0,0,7,1,5.1,308,...,133,False,0,19,0.15,0.42,0.27,0.76,1,2023/24
90680,Mohamed Salah,MID,Liverpool,7.5,1,3,52,0,49.2,308,...,133,True,0,20,1.17,3.88,2.71,0.59,1,2023/24
91464,Mohamed Salah,MID,Liverpool,0.0,0,0,0,0,0.0,308,...,132,False,0,21,0.00,0.00,0.00,0.00,0,2023/24
92261,Mohamed Salah,MID,Liverpool,0.0,0,0,0,0,0.0,308,...,131,True,0,22,0.00,0.00,0.00,0.00,0,2023/24
93069,Mohamed Salah,MID,Liverpool,0.0,0,0,0,0,0.0,308,...,130,False,0,23,0.00,0.00,0.00,0.00,0,2023/24

In [14]:
df_2023_24.info()

<class 'pandas.core.frame.DataFrame'>
Index: 16882 entries, 76317 to 93198
Data columns (total 42 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   name                        16882 non-null  object
 1   position                    16882 non-null  object
 2   team                        16882 non-null  object
 3   xP                          16882 non-null  float64
 4   assists                     16882 non-null  int64
 5   bonus                       16882 non-null  int64
 6   bps                         16882 non-null  int64
 7   clean_sheets                16882 non-null  int64
 8   creativity                  16882 non-null  float64
 9   element                     16882 non-null  int64
 10  fixture                     16882 non-null  int64
 11  goals_conceded              16882 non-null  int64
 12  goals_scored                16882 non-null  int64
 13  ict_index                   16882 non-null  float64
 14  influence                   16882 non-null  float64
 15  kickoff_time                16882 non-null  object
 16  minutes                     16882 non-null  int64
 17  opponent_team               16882 non-null  int64
 18  own_goals                   16882 non-null  int64
 19  penalties_missed            16882 non-null  int64
 20  penalties_saved             16882 non-null  int64
 21  red_cards                   16882 non-null  int64
 22  round                       16882 non-null  int64
 23  saves                       16882 non-null  int64
 24  selected                    16882 non-null  int64
 25  team_a_score                16882 non-null  int64
 26  team_h_score                16882 non-null  int64
 27  threat                      16882 non-null  int64
 28  total_points                16882 non-null  int64
 29  transfers_balance           16882 non-null  int64
 30  transfers_in                16882 non-null  int64
 31  transfers_out               16882 non-null  int64
 32  value                       16882 non-null  int64
 33  was_home                    16882 non-null  bool
 34  yellow_cards                16882 non-null  int64
 35  GW                          16882 non-null  int64
 36  expected_assists            16882 non-null  float64
 37  expected_goal_involvements  16882 non-null  float64
 38  expected_goals              16882 non-null  float64
 39  expected_goals_conceded     16882 non-null  float64
 40  starts                      16882 non-null  int64
 41  season                      16882 non-null  object
dtypes: bool(1), float64(8), int64(28), object(5)
memory usage: 5.4+ MB

### General EDA